# Archivos generados por Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof

# Directorio de dependencias (si no usas módulos Go o quieres ignorarlo)
# /vendor/

# Archivos y directorios de salida generados por la aplicación
/laravel/
/output_csv/
Listado_de_parametros.txt

# Archivos de configuración de IDEs y editores
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo
.DS_Store
Thumbs.db
