# Archivos generados por Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof

# Directorio de dependencias
/vendor/

# Archivos de salida generados
/app/
/database/
/output_csv/
*.csv
sheet_summary.txt

# Archivos de datos de entrada
*.xlsx
*.xls
*.xlsm

# Archivos de configuración
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operativo
.DS_Store
Thumbs.db
